<footer class="footer-main mt-5">
    <div class="container py-4">
        <div class="row text-center justify-content-center">
            <!-- Coluna: Categorias -->
            <div class="col-md-4 mb-4">
                <h5 class="footer-title">Categorias</h5>
                <hr class="hr-central border-2 w-50 mx-auto my-2">
                <ul class="list-unstyled footer-list">
                    <li>Arduino</li>
                    <li>Componentes</li>
                    <li>Displays</li>
                    <li>Kits Diversos</li>
                    <li>Motores</li>
                    <li>Novidades</li>
                    <li><strong>OFERTAS IMPERDÍVEIS</strong></li>
                    <li>Prototipagem</li>
                    <li>Raspberry Pi</li>
                    <li>Robótica</li>
                    <li>Wireless e IoT</li>
                </ul>
            </div>

            <!-- Coluna: Sobre nós -->
            <div class="col-md-4 mb-4">
                <h5 class="footer-title">Sobre nós</h5>
                <hr class="border-2 border-primary w-50 mx-auto my-2">

                <ul class="list-unstyled footer-list">
                    <li>Quem Somos</li>
                    <li>Apostilas</li>
                    <li>Robótica nas Escolas</li>
                </ul>
                <ul class="list-unstyled mt-3 footer-contact">
                    <li><i class="fas fa-phone-alt me-2"></i>(31) 93142-3800</li>
                    <li><i class="fab fa-whatsapp me-2"></i>(31) 99910-3800</li>
                    <li><i class="fas fa-envelope me-2"></i>contato&#64;technovision.com</li>
                </ul>
            </div>

            <!-- Coluna: Redes Sociais -->
            <div class="col-md-4 mb-4">
                <h5 class="footer-title">Redes Sociais</h5>
                <hr class="border-2 border-primary w-50 mx-auto my-2">
                <ul class="list-unstyled footer-list">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                    <li>Twitter</li>
                    <li>TikTok</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom text-center py-1">
        <span>
            <strong>&#64;TECHNOVISION 2025</strong> – Todos os direitos reservados.
        </span>
    </div>
</footer>